.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 75px;
    background: #ffffff;
    border-bottom: 1px solid #e6e6e6;
    transition: top 0.3s;
    display: flex;
    justify-content: center;
}

.hide-nav {
    top: -76px;
}

.navbar > div {
    display: flex;
    width: 100%;
    max-width: 1010px;
    justify-content: center;
    flex-direction: row;
    align-items: stretch;
    padding: 20px 40px;
    box-sizing: border-box;
}

.navbar > div > div {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-header {

}

.search-container {
    top: 0;
    margin: auto;
    align-items: flex-start !important;
    justify-content: center;
}

.search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 215px;
    box-sizing: border-box;
    padding: 7px;
    height: 28px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    background: #fafafa;
}

.search-box > div {
    display: flex;
    width: 199px;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    color: #999999;
}

.search-icon {
    padding: 5px;
}

.search-box > div > input {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
    background: inherit;
    font-family: inherit;
    font-size: inherit;
}

.search-box > div > button {
    background: inherit;
    border: none;
    color: inherit;
}

.hearts-container {
    position: relative;
    flex-direction: column !important;
    margin: auto;
    justify-content: flex-start;
}

.nav-buttons-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.nav-button {
    padding: 5px;
}
