.nav-buttons-container {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.navbar-bottom-mobile {
    display: none;
}

.nav-button {
    padding: 5px;
    font-size: 20px;
}

.nav-button-common {
    height: 24px;
    width: 24px;
    padding: 0;
    margin-left: 30px;
    background-repeat: no-repeat;
    background-size: 395px 371px;
}

.nav-button-explore {
    background-position: -181px -322px;
}

.nav-button-heart {
    background-position: -56px -322px;
}

.hearts-container {
    position: relative;
    flex-direction: column !important;
    margin: auto;
    justify-content: flex-start;
}

.nav-button-profile {
    background-position: -353px -26px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .nav-buttons-container {
        padding: 0 20px;
        justify-content: space-between;
    }

    .nav-button-common {
        margin: 0;
    }

    .nav-button-home {
        background-position: -231px -322px;
    }

    .nav-button-home-active > div {
        background-size: 395px 371px;
        background-position: -250px -347px;
    }

    .nav-button-search {
        background-size: 395px 371px;
        background-position: -75px -347px;
    }

    .nav-button-search-active > div {
        background-size: 395px 371px;
        background-position: -50px -347px;
    }

    .nav-button-explore-active > div {
        background-size: 395px 371px;
        background-position: -156px -322px;
    }

    .nav-button-heart-active > div {
        background-size: 395px 371px;
        background-position: -31px -322px;
    }

    .nav-button-profile-active > div {
        background-size: 395px 371px;
        background-position: 0 -347px;
    }
}