.response-standalone-container {
    padding: 5px 15px 0;
    font-size: 14px;
    height: 510px;
    width: 335px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.response {
    padding: 5px 15px 0;
    font-size: 14px;
}

.likes > .buttons {
    display: flex;
    height: 40px;
    box-sizing: border-box;
    padding: 8px 0;
}

.likes {
    font-weight: bold;
    border-top: 1px solid #e6e6e6;
}

.like-comment-common {
    height: 24px;
    width: 24px;
    padding: 0;
    background-repeat: no-repeat;
}

.like {
    background-position: -104px -349px;
}

.comment {
    margin-left: 16px;
    background-position: -322px -289px;
}

.comments ul, .comments li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.comments li {
    padding: 3px 0 3px;
}

.more-comments {
    border: none;
    background: none;
    font: inherit;
    padding: 5px 0 5px;
    color: #999999;
}

.time {
    padding: 5px 0 15px;
    font-size: 10px;
    color: #999999;
}

.add-comment {
    display: flex;
    width: 100%;
    border: none;
    border-top: 1px solid #e6e6e6;
}

.add-comment > input {
    font-size: 14px;
    padding: 16px 0 16px;
    box-sizing: border-box;
    height: 56px;
    border: none;
    width: 100%;
}

.add-comment > input::placeholder {
    color: #999999;
}

.add-comment > button {
    font-weight: bold;
    background: none;
    border: none;
}
