.mini-posts-view-container {
    flex-basis: 935px;
    margin: 0 auto;
}

.mini-posts-view-header {
    display: flex;
    /*height: 370px;*/
    padding: 60px 60px 40px;
    box-sizing: border-box;
    font-size: 16px;
}

.mini-posts-view-header-links {
    display: flex;
}

.mini-posts-view-header-links div {
    margin-right: 10px;
}

.mini-posts-view-header-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 160px;
    width: 160px;
    text-align: center;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
}

.mini-posts-view-header-image img {
    height: 100%;
}

.mini-posts-view-header-info {
    flex: 2;
    height: 100%;
    width: 100%;
    margin: auto;
}

.mini-posts-view-header-name {
    font-size: 32px;
    padding: 0 16px 0 0;
}

.mini-posts-view-header-info > div {
    display: flex;
    padding: 4px 0 16px;
}

.mini-posts-view-header-info-main {
    align-items: center;
}

.mini-posts-view-header-info-bio {
    display: block !important;
}

.mini-posts-view-header-info-bio > p {
    margin: 5px 0;
}

.mini-posts-view-header-jobs {
    padding: 0 32px 0 0;
    display: flex;
}

.mini-posts-view-header-jobs-text {
    padding-left: 0.3em;
}

.mini-post-container {
    width: 100%;
}

.mini-post-row {
    display: flex;
    flex-shrink: 1;
    /*align-items: stretch;*/
    width: 100%;
}

.mini-post-row > a, .mini-post-row > div {
    flex: 1;
    margin: 16px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .mini-posts-view-header {
        height: auto;
        padding: 0;
        margin: 14px 16px 0;
    }

    .mini-posts-view-header-image {
        display: none;
    }

    .mini-posts-view-header-info {
        display: flex;
        align-items: center;
        height: auto;
    }

    .mini-posts-view-header-info-main {
        width: 100%;
        padding: 0 !important;
        font-size: 16px;
    }

    .mini-posts-view-header-links {

    }

    .mini-posts-view-header-links div {

    }

    .mini-posts-view-header-info-bio-mobile {
        padding: 0 16px;
    }

    .mini-posts-view-header-info-stats-mobile {
        border-top: 1px solid #e6e6e6;
        margin: 0 16px;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }

    .mini-posts-view-header-jobs {
        flex: 1;
        flex-direction: column;
        padding: 0;
        align-items: center;
        justify-content: center;
    }

    .mini-posts-view-header-jobs-text {
        color: #999;
    }

    .mini-post-row {
        justify-content: space-between;
    }

    .mini-post-row > a, .mini-post-row > div {
        margin: 1px;
    }
}
