.mini-post {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 50%;
}

.mini-post-empty {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mini-post-overlay {
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.mini-post-overlay:hover {
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
}

.mini-post-overlay > div {
    display: none;
}

.mini-post-overlay:hover > div {
    display: block;
    height: 19px;
    width: 19px;
    background-position: -401px -138px;
    margin: 8px;
}

.mini-post-overlay > span {
    /*padding: 14px;*/
    font-weight: bold;
    font-size: 18px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .mini-post-overlay {
        display: none;
    }
}