.profile-container {
    flex-basis: 935px;
    margin: 0 auto;
}

.profile-header {
    display: flex;
    height: 252px;
    width: 100%;
    padding: 60px 0 40px;
    box-sizing: border-box;
    font-size: 16px;
}

.profile-header-image {
    flex: 1;
    height: 100%;
    text-align: center;
}

.profile-header-image img {
    height: 100%;
    border-radius: 50%;
}

.profile-header-info {
    flex: 2;
    height: 100%;
    width: 100%;
}

.profile-header-name {
    font-size: 32px;
    padding: 0 16px 0 0;
}

.profile-header-info > div {
    display: flex;
    padding: 4px 0 16px;
}

.profile-header-info-stats > span {
    padding: 0 32px 0 0;
}

.mini-post-container {
    width: 100%;
}

.mini-post-row {
    display: flex;
    flex-shrink: 1;
    align-items: stretch;
    width: 100%;
}

.mini-post-row > a, .mini-post-row > div {
    flex: 1;
    margin: 16px;
}