.post {
    width: 600px;
    max-width: 600px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 60px 30px 0;
}

.post-header {
    display: flex;
    height: 60px;
    padding: 15px 0;
    margin: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid #e6e6e6;
}

.post-avatar {
    height: 100%;
    margin-right: 10px;
    border-radius: 50%;
    border: 1px solid #e6e6e6;
}

.post-header > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.post-picture {
    width: 100%;
}

.post-standalone {
    display: flex;
    height: 570px;
    max-width: 935px;
    background: #fff;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
    margin: 60px 30px 0;
}

.post-standalone-picture-container {
    display: flex;
    align-items: center;
    background-color: #fafafa;
}

.post-standalone-picture {
    max-width: 100%;
    max-height: 100%;
}

.post-standalone-container {
    width: 335px;
    max-height: 100%;
    padding: 0 5px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .post {
        width: 100%;
        box-sizing: border-box;
        margin: 0;
        border: 0;
    }
}
